{% extends "base.html" %}
{% block content %}
    <!-- /主体 -->
    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="{% url 'index' %}">首页</a> » <a
                    href="{% url 'index' %}list-{{ show.category.id }}.html">{{ show.category.name }}</a> »
                <span class="current">正文</span></div>
            <div class="post-main clearfix">
                <h1 class="post-title">{{ show.title }}</h1>
                <div class="post-con clearfix">
                    <div class="article-meta">
                        <span class="item">分类：<a href="{% url 'index' %}list-{{ show.category.id }}.html" rel="category tag">{{ show.category.name }}</a></span>
                        <span class="item">作者：{{ show.user }}</span>
                        <span class="item">浏览：{{ show.views }}</span>
                        <span class="item">{{ show.created_time }}</span>

                    </div>
                    <article class="article-content">
                        {% comment %}防止HTML转义{% endcomment %}
                        {{ show.body|safe }}
                    </article>

                    <div class="post-tag"><span class="fa fa-tags" aria-hidden="true"></span>标签：
                        {% for tag in show.tags.all %}
                            <a href="{% url 'index' %}tag/{{ tag.name }}" rel="tag">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <div>
                        <div><b>上一篇：</b>
                            {% if previous_blog %}
                                <a href="{% url 'index' %}show-{{ previous_blog.pk }}.html" class="article-tag">{{ previous_blog }}</a>
                            {% else %}
                                没有了
                            {% endif %}
                        </div>
                        <div><b>下一篇：</b>
                            {% if next_blog %}
                                <a href="{% url 'index' %}show-{{ next_blog.pk }}.html" class="article-tag">{{ next_blog }}</a>
                            {% else %}
                                没有了
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
            <!-- /文章 -->


            <div class="recommend  hidden-xs">

                <div class="head clearfix"><span class="sp">您可能感兴趣的:</span></div>
                <ul>
                    {% for h in hot %}
                        <li>
                         <div class="pic">
                           <a href="{% url 'index' %}show-{{ h.id }}.html" title="{{ h.title }}">
                           <img src="{% url 'index' %}media/{{ h.img }}"
                             srcset="{% url 'index' %}media/{{ h.img }}"
                             alt="{{ h.title }}" class="wp-post-image" width="145" height="100"/></a>
                          </div>
                            <a class="descript " href="{% url 'index' %}show-{{ h.id }}.html" rel="bookmark"
                                   title="{{ h.title }}">{{ h.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>


        </section>
        <!-- /post-left -->
        <!-- /post-right -->
        <aside class="post-right hidden-xs">
            </section></section>

            {% include 'right.html' %}

        </aside>

        </aside>
    </div>
    <!-- /主体 -->
{% endblock %}